<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="17e16313-1375-4a2e-b670-9b138c654f70" name="RenewalE2E" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e7c2dc3c-c664-4a1d-9ba2-c809a69bac4efileName">RenewalE2E</con:setting>
    <con:setting id="17e16313-1375-4a2e-b670-9b138c654f70fileName">RenewalE2E</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
